@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: "Space Mono", monospace;
  overflow: hidden;
}

button, input {
  font-family: "Space Mono", monospace;
}
